header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    max-height: 115px;
}

.header #logo {
    background-image: url('../images/continuous-good.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    /* hide text */
}

/* menu hover is undefined in mobile? */
.header .menu li a:hover {
    background-color: #f4f4f4;
}

/* don't show the hamburger menu */
.header .menu-icon {
    display: none;
}

/* menu btn */
.header .menu-btn {
    display: none;
}