@media (max-width: 48em) {
    header {
        h1 {

            flex: 0 0 70%;
        }

        nav {
            flex: 0 0 30%;
        }
    }

    .container:has(> header.header) {
        max-width: 100%;
        margin: 0;
    }
    
    .header #logo {
        height: 100px;
        width: 70%;
        border: 1px solid yellow;
    }

    .header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        background: transparent;
        border: 1px solid red;
        position: inherit;
        max-height: 100%;
        clear: both;
    }

    .header nav .menu-label {
        color: white;
        text-transform: uppercase;
        font-weight: 900;
        border: 1px solid red;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding: 20px 0;
        text-align: center;
        margin: 0 auto;
    }

    .header nav .menu-icon {
        float: right;
        cursor: pointer;
        width: 50%;
        display: block;
        border: 1px solid aqua;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: lime;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }  

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: aqua;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 5px;
    }

    .header .menu-icon .navicon:after {
        top: -5px;
    }

    .header .menu-btn:checked~.menu {
        max-height: 240px;
        width: 100%;
        /* margin-left: 10%; */
        /* left: 0; */
        /* min-width: 320px; */
    }

    /* css magic makes the hamburger menu work */
    .header .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    /* mobile menu */
    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        position: fixed;
        top: 115px;
        list-style: none;
        overflow: hidden;
        background-color: var(--color-navy);
        color: white;
        border: 1px dotted lime;
    }

    .header .menu li {
        margin: 0 15px;
        padding: 0;
    }

    .header .menu li a {
        display: block;
        padding: 20px;
        text-decoration: none;
        color: var(--color-text-gray);
        border: 1px solid var(--color-navy);
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 1.563rem;
        /* 25px in relative terms */
        text-transform: uppercase;
    }

}