@import url('./normalize.css');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
    --color-teal: #0C7B93;
    --color-navy: #2D3258;
    --color-text-gray: #696969;
    --color-background-gray: #F0F0F0;
    --color-red: #EB002F;
    --color-lightest-teal: #F5F7FA;
}


/* Heading Styles */
.wysiwyg-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.wysiwyg-h2 {
    font-size: 48px;
    color: var(--color-navy);
    line-height: 60px;
}

.wysiwyg-h3 {
    font-size: 40px;
    color: var(--color-teal);
    line-height: 50px;
}

.wysiwyg-h4 {
    font-size: 32px;
    color: var(--color-text-gray);
    line-height: 42px;
}

.wysiwyg-h5 {
    font-size: 24px;
    color: var(--color-navy);
    line-height: 30px;
}

.wysiwyg-h6 {
    font-size: 22px;
    color: var(--color-teal);
    line-height: 28px;
}

.intro {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-teal);
    line-height: normal;
}

p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-text-gray);
    line-height: 32px;
}

/* Button Styles */
/* Common Button Styles */
.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: var(--color-red);
    color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid var(--color-red);
    transition: background-color 0.3s, color 0.3s, cursor 0.3s;
    text-transform: uppercase;
}

.button:hover {
    background-color: #FFFFFF;
    color: var(--color-red);
    cursor: pointer;
}

/* Large Button Styles */
.button-large {
    font-size: 24px;
    height: 70px;
    width: 342px;
    padding: 26px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-large span {
    display: inline-block;
    min-width: 342px;
    padding: 0 20px;
    text-align: center;
}

/* Standard Button Styles */
.button-standard {
    font-size: 20px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* dev utils */

.button-spacing .button-wrapper {
    margin: 20px 0;
}

.color-samples {
    display: flex;
    gap: 10px;
}

.color-sample {
    height: 50px;
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}
.color-sample pre {
    font-size: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    align-self: flex-start;
}

/* responsive layout */


.wrapper {
    max-width: 80%;
    min-width: 480px;
    margin-inline: auto;
    border: 1px solid black;
    background-color: green;
  }
  
  div.wrap-row {
    width: 100%;
  }
  
  
  div.container {
    max-width: 80%;
    margin-inline: auto;
    /* border: 1px solid lime; */
  }
  
  /* Header */
  header {
    min-height:115px;
  }
  
  .angle-bg {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="white"/></svg>');
      --element-width: 10%;
      background-size: var(--element-width);
      background-repeat: no-repeat;
      background-position: bottom left;
      /* Position background on bottom left corner */
  }

  .angle-bg.blue {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="blue"/></svg>');
  }

  .angle-bg.red {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="red"/></svg>');
  }

  .angle-bg.green {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="green"/></svg>');
  }

  .angle-bg.gray {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="rgb(120,120,120)"/></svg>');
  }

  .angle-bg.navy {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polygon points="0,20 20,20 0,0" fill="rgb(45, 50, 88)"/></svg>');
  }

  
  /* Pitch */
  
  #pitch {
    background-color: rgba(220,220,0,.3);
  }
  #pitch .container section {
    background-color: rgba(60,60,0,.3);
  }
  
  /* Services */
  #services {
    background-color: rgba(220,0,0,.3);
  }
  #services .container section {
    background-color: rgba(60,0,0,.3);
  }

.teally {
    background-color: var(--color-teal);
}

.teally p, .teally h2 {
    color: #fff;
}

/* Footer */
.footer {
    /* background-color: rgba(var(--color-navy), .3); */
    background-color: var(--color-navy);
}

  